.port_con {
    max-width: 7000px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #FFB38E;

    & .port_title {
        margin-top: 45px;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        
    }


    & .port_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;

        & .port_items {
            margin-top: 60px;

            & img {
                width: 400px;
                height: 400px;
                border-radius: 20px;
                object-fit: cover;
            }

            & p {
                font-size: 25px;
                font-weight: bold;
                margin: 10px 0;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .port_con {
        height: auto;
        margin: 30px 0;

        & .port_list {
            grid-template-columns: 1fr;
            padding: 20px;

            & .port_items {
                width: 100%;

                & img {
                    width: 100%;
                    
                }
            }
        }
    }
    
}